
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.App {
  text-align: center;
  width: 85%;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
};

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  margin:0;
  background-color:rgb(232, 227, 227);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Outfit;

}

.container {
  margin: 1rem;
  text-align: center;
  display: flex;
}

.nav {
  background-color: #3e5962;
  color:white;
  display:flex;
justify-content: space-between;
align-items: stretch;
gap:2rem;
padding:0 1rem;
}


.site-name {
  font-size:2rem ;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover {
  background-color: #777;
  
  }
.nav li #active {
background-color: #555;

}

.books{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}

.book{
  flex:1.2;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  
}


.update,.delete{
  
  border: none;
  padding: 3px 6px;
  background-color: transparent;
  cursor: pointer;
}

.form {
  display:inline-flex;
  flex-direction: column;
  gap: 30px;
}




button , input{
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid rgb(233, 79, 120);
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transform: 0.3s;
}

.book-box{
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 0px #00000015;
}